#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 80%;
    padding-top:  5%;
    margin: 0 auto 0;
    padding-left: 10%;
    padding-right: 10%;
    position: center;
  }
 

  .map-control {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    font-family: 'Roboto','sans-serif';
    margin: 10px;
    padding-right: 5px;
    /* Hide the control initially, to prevent it from appearing
       before the map loads. */
    display: none;
  }
  /* Display the control once it is inside the map. */
  #map .map-control { display: block; }
  /* #map  {  } */

  .selector-control {
    font-size: 14px;
    line-height: 30px;
    vertical-align: baseline;
  }