body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */

img{
    
    vertical-align: middle;
    margin-left:25%;
    
}


.container h1{
    font-weight: 400;
    font-size: 30px;
    font-variant-caps:titling-caps;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
    
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/*Showcase de contacto*/

#showcase{
    min-height:500px;
    background:linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url('../img/concejo.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    text-align:center;
    -webkit-text-fill-color: white;
    
    opacity: 0.8;
}



#showcase h1{
  margin-top:110px;
  font-size:75px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}


/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/*Form de comentarios*/
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Merriweather);
red: #e74c3c;

*, 
*:before, 
*:after {
   @include box-sizing(border-box); 
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
}
input, textarea {
     border:0; outline:0;
     padding: 1em;
     border-radius: 8px;
     display: block;
     width: 206%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow: (0 1px 1px rgba(black, 0.1));
     resize: none;
    
    
  }

input, textarea:focus {
       @include box-shadow(0 0px 2px rgba($red, 1)!important);
    }
  
  #input-submit{
     color: white; 
     background: #e74c3c;
     cursor: pointer;
    
    
  }

#input-submit:hover {
       @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
    }
  
  textarea {
      height: 126px;
  }



.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}

.forma{
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: -5%;
}
@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
