
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

input { 
    text-align: center; 
    padding: 0;
    height: 60px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 30px;
    width: 600px;
}


input:focus{
   padding: 0;
    height: 60px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid black;
    border-color: black;
    background-color: white;
    font-size: 30px;
     -moz-box-shadow: 0 0 5px #999;
-webkit-box-shadow: 0 0 5px black;
box-shadow: 0 0 5px black;
    
}
 /*border-color: rgba(0,0,0,.15);*/



.shadow{
    -moz-box-shadow: 0 0 5px #999;
-webkit-box-shadow: 0 0 5px #999;
box-shadow: 0 0 5px #999;
}


h1 {
    font-size: 2.5rem;
    padding: 15px 20px;
   
    margin-bottom: 20px;
    text-align: center;
}

a {
    text-decoration: underline;
    color: inherit; 
}
    
.container2 {
	margin: 80px auto;
	width: 90%;
	max-width: 800px;
}

.registration {
	background-color: #fff;
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 20px;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
	border-bottom: 5px solid #0375B4;
}


.input-requirements {
  font-size: 1.3rem ;
  font-style: italic;
  text-align: left;
  list-style: square;
 /* list-style-position: inside;*/
  max-width: 400px;
  margin: 10px auto;
  color: rgb(150,150,150);
}

input:not([type="submit"]):hover {
  border-color: deepskyblue;
}

input[type=submit]:hover{
	background-color: lightgray;
}


input:not([type="submit"]) + .input-requirements {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-out;  
}

input:not([type="submit"]):hover + .input-requirements,
input:not([type="submit"]):focus + .input-requirements,
input:not([type="submit"]):active + .input-requirements {
  max-height: 1000px; 
  transition: max-height 1s ease-in;
}

.input-requirements li.invalid {
	color: #e74c3c;
}
.input-requirements li.valid {
	color: #2ecc71;
}

.input-requirements li.valid:after {
	display: inline-block;
	padding-left: 10px;
	content: "\2713";
}
